* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

#main-logo {
  height: 350px;
  width: 350px;
  border: 3px solid #000000;
  border-radius: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(216, 35, 28);
  background: radial-gradient(
    circle,
    rgba(216, 35, 28, 1) 0%,
    rgba(36, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
}

main {
  background: #e5e5e5;
  width: 700px;
  height: 350px;
  border: 3px solid #000000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#container-left {
  width: 320px;
  height: 300px;
  margin-top: 25px;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  width: 80px;
  height: 18px;
  margin-bottom: 5px;
}

select {
  width: 320px;
  height: 48px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  color: #555555;
  font-weight: 700;
  font-size: 16px;
}

select:hover {
  cursor: pointer;
}

input {
  width: 320px;
  height: 48px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

input::placeholder {
  padding-left: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
}

input:hover {
  cursor: pointer;
}

button {
  width: 320px;
  height: 48px;
  margin-top: 23px;
  background: #d8231c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

#container-right {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 300px;
  border: 1px solid #d8231c;
  border-radius: 20px;
  overflow-x: hidden;
}

.result-box {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.result-arrow {
  height: 50px;
  width: 50px;
}

.currency-name-result-box {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
  cursor: default;
}

.currency-value-result-box {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #555555;
  cursor: default;
}

@media (width <= 750px) {

  body {
    justify-content: center;
  }
  
  #main-logo {
    width: calc(100vw - 50%);
    height: auto;
    margin-bottom: 20px;
  }

  main {
    width: calc(100vw - 30%);
    height: auto;
    flex-direction: column;
  }

  #container-left {
    width: 95%;
    height: 45%;
    margin-top: 5px;
  }

  label {
    font-size: 12px;
  }

  select {
    width: 100%;
    height: 15%;
    font-size: 12px;
  }

  input::placeholder {
    font-size: 12px;
  }

  input {
    width: 100%;
    height: 15%;
  }

  button {
    width: 100%;
    height: 15%;
    margin-top: 10px;
    font-size: 14px;
  }

  #container-right {
    width: 95%;
    height: 55%;
    margin-bottom: 5px;
    overflow: hidden;
  }

  #result-box-container {
    transform: scale(calc(1 - 0.2));
  }
}
